/* Master styles */
body {
	margin: 0px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
	display: grid;
	/* grid-template-columns: 1fr 1fr; */
}
.page-view{
	display: flex;
	background-color:lightgoldenrodyellow;
	/* justify-content: space-between; */
	font-size: 0.9em;
}
/* Right side of the page style */
.content-side {
	display: flex;
  	flex-direction: column;
	width: 100%;
	padding-left: 60px;
	background-color: lightgoldenrodyellow;
}
.content-wrapper {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: large;
	margin-bottom: 50%;
	padding-right: 60px;

}
.projects {
	/* position: relative; */
	padding: 30px;
	background: rosybrown;
	text-align: justify;
	transition: 1s;
	border-radius: 15px 50px 30px;
}
.projects span{
	display: none;
}
.projects:hover{
	background-color: lightseagreen;
 }  

 .projects:hover span{
	display:block;
	background-color: black;
	color: aliceblue;
	width: 70px;
	text-align:center;
	height:16px;
	border-radius: 10px;
	font-size: small;
    position: fixed;
    overflow:hidden;
}

/* logo styles */
.logo-wrapper{
	display: flex;
}
.logo{
	  transition: transform 1s;
	  padding-right: 20px;
}
.logo:hover{
	-ms-transform: scale(1.5); /* IE 9 */
  	-webkit-transform: scale(1.5); /* Safari 3-8 */
  	transform: scale(1.5); 
}
/* navigation menu styles */
.nav-wrapper {
	display: flex;
	padding: 15px;
	margin-left: auto;
	text-transform: uppercase;
}
.left-side {
	display: flex;	
	margin-top: 1px;
}
.nav-wrapper > .left-side > div {			/*get all divs in left-side under nav-wrappper*/
	margin-right: 15px;
	font-size: 0.9em;
}
.nav-link-wrapper {
	height: 22px;
}
.nav-link-wrapper a {
	color: #8a8a8a;
	text-decoration: none;
	transition: color 0.5s;	
}
.nav-link-wrapper a:hover{
	color: lightsalmon;
}
/* Portfolio Styles */
.portfolio-items-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	padding-right: 20px;
	background-color: lightgoldenrodyellow;
}
.portfolio-item-wrapper{
	position: relative;	
}
.portfolio-img-background {
	height: 300px;
	width: 325px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 0px;
	filter: brightness(50%);
}
.img-text-wrapper {
	position: absolute;
	top: 0;
	display: flex;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	color: #ebeae8;
	font-weight: 500;
	font-size: xx-large; 
}
.img-text-wrapper:hover{
	color: lightsalmon;
}
.img-darken {
	transition: 1s;
	filter: brightness(20%);
}